@import "./submitButton.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 225, 0);
}

h1 {
    text-align: center;
    font-size: 3.5rem;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin-top: 5rem;
}

form {
    cursor: pointer;
    margin-top: 25rem;
    margin-left: 30rem;
}

.ideaContainer {
    width: 50%;
    background-color: rgb(15, 112, 119);
    margin-left: 10rem;
    margin-top: -13rem;
    min-height: 60vh;
    max-height: 60vh;
    border: 5px solid black;
    border-radius: 20px;
    color: white;
    font-size: 1.3rem;
    overflow: scroll;
}

.ideaContainer h3 {
    margin-left: 20rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    display: inline-block;
}

.trashCan {
    width: 30px;
    float:right;
    margin-top: 1rem;
    margin-right: 1.5rem;
    cursor: pointer;
}

.ideaContainer p {
    margin-left: 1rem;
}

.timestamp{
    float: right;
    font-size: 1rem;
}

/*scrollbar */
::-webkit-scrollbar {
    width: 10px;
    max-height: 30px;
    border-radius: 10px;
    padding-right: 1rem;
  }

  ::-webkit-scrollbar-track {
    background-color: rgb(15, 112, 119); 
    margin-top: 10px;
    margin-bottom: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-corner {
    background-color: rgb(15, 112, 119); 
  }